.base-2jDfDU {
    position: relative;
  }
  
  
.container-ZMc96U {
    top: 10;
    left: 0;
    width: 1288px; 
    height: 70px; 
    padding: 5px;
    border-radius: 4px;
    background-color: red; 
    z-index: 1;
    
  }
  
  .base-2jDfDU .container-ZMc96U {
    display: inline-block;
    width: 1288px; 
    height: 70px; 
    padding: 5px 500px;
    border-radius: 4px;
  }
  
  .base-2jDfDU .container-ZMc96U a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
  }
  
  * {
      margin: 0;
      ;
  }
